.Sticky {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-top: 30px rgba(0, 0, 0, .1) solid;
    padding: 8px 8px 0px 8px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .2);
}