
.Counter {
    display: flex;
    align-items: center;
}

.Counter button {
    margin: 3px;
    padding: 5px;
    border: 1px solid black;
    outline: none;
    color: white;
}

.Counter button:disabled, .Counter .Less:hover:disabled {
    background-color: gray;
    color: black;
}

.Counter button:hover:disabled, .Counter .Less:hover:disabled {
    cursor: not-allowed;
}

.Counter .Less {  
    background-color: lightblue;
}

.Counter .More {
    background-color: pink;
}

.Counter .Less:hover, .Counter .Less:active {  
    background-color: blue;
}

.Counter .More:hover,.Counter .More:active {
    background-color: red;
}